<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body>
<a href="{% url 'contacts' %}">Add new contact</a>
<!--iterate through contact list-->
{% for contacts in contactform %}
<!--list contact with options of edit and delete-->
<p><a href="{% url 'edit' contacts.id %}">
    {{ contacts.name }}</a></p>
<p>{{ contacts.email }}</p>
<p>{{ contacts.number }}</p>
<p><a href="{% url 'delete' contacts.id %}">Delete User</a> </p>
<hr/>
{% endfor %}
</body>
</html>